{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clearence Home Items</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static '/css/toastr.min.css'%}">
	<link rel="stylesheet" href="{% static '/css/pace.min.css'%}">
	<link rel="stylesheet" href="{% static '/css/simple-line-icons.css'%}">
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBMRHkWz5dtdLAXc7sKu0zIhvvtsWZ2oDM&sensor=false&v=3&libraries=geometry"></script>


</head>
<body>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-header">
    <a  style="font-size:30px"class="navbar-brand" href="{% url 'home' %}">Clearence Home Items</a>
    </div>
    {% if request.user.is_authenticated%}
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'dashboard'%}">Dashboard</a></li>
      <li class="active"><a href="{% url 'addItem'%}">List New Item</a></li>
    </ul>
    {%endif%}
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li style="padding-top:15px; padding-bottom:15px; color:#337ab7; font-size:15px"><span style="color:#337ab7" class="fa fa-user"></span> Hello, {{ request.user }}</li>
      <li><a href="{% url 'logout2' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      {% else %}
      <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif%}
    </ul>
  </div>
</nav>



{% block content%}

{% endblock%}

</body>
<script src="{% static '/js/toastr.js'%}"> </script>
<script src="{% static '/js/pace.min.js'%}"> </script>
</html>
