{% extends "base.html" %}
{% load static %}
{% block content %}
{% csrf_token %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<!-- Page Content -->
<br><br><br>
<div style="background-color:#e3f2fd;border-radius:10px; padding:40px; padding-bottom:170px; margin-bottom:100px"class="container">

<!-- Portfolio Item Heading -->
    {%if item.bidding == False%}<h1 class="my-4">{{item.title}} (SOLD)</h1>{%else%} <h1 class="my-4">{{item.title}}</h1>{%endif%}

    <!-- Portfolio Item Row -->
    <div class="row">
      <div class="col-md-7">
        <img style="border-radius:5px;"class="img-fluid" src="{{item.image.url}}" width="500px" height="400px"  alt="">
      </div>

      <div style="background-color:#96d3ff;border-radius:5px;padding:20px;"class="col-md-5">
        <h3 class="my-3">Item Description</h3>
        <h5>{{item.description}}</h5>
        <hr>
        <h4>Used Duration: {{item.usedLife}}</h4>
        <h4>Item Category: {{item.category}}</h4>
        <hr>
        <h4>Starting Bid: £{{item.starting_bid}}</h4>
        <h4 id="currentBid">Current Bid: £{{bid}}</h4>
        <hr>
        <h4>Bidding ends in <strong style="font-size:32px;">{{days.days}}</strong>  days</h4>
        <input style="border-radius:5px;height:34px;width:335px;font-size:20px;text-align:center"type="number" name="bid" id="bid" min="{{bid}}" value="{{bid|add:1}}">
        <button id="bidbtn" style="background-color: #e3f2fd;margin-bottom:5px;width:80px" type="button" class="btn btn-light">Bid</button><br><br>
        <button style="background-color: #e3f2fd;" type="button" id="{{item.id}}" class="btn btn-light btn-lg buyNow">Buy On Cash (£{{item.buyNow}})</button>
      </div>
      <div class="col-md-12" style="padding-top:100px">
        <hr style="border: 1px solid #96d3ff; border-radius:5px;">
        <br><br>
        <h3><strong>Common searched Products</strong></h3>
        <br>
        <br>
          <div class="row" style="border-radius:5px;">
            {% for item in items %}
              <div class="col-lg-4">
                <div style="border:5px solid #96d3ff;border-radius:3px;background-color:#96d3ff;padding:20px;text-align:center;">
                  <a href="{% url 'itemDetail' item.id%}"><img src="{{ item.image.url }}" width="300px" height="200px" alt="" style="position:relative; border-radius:5px;"></a>
                  <h3>{{item.title}}</h3>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
      </div>
    </div>

</div>
<script>
  $(document).ready(function() {
    $("#bidbtn").click(function(event) {
      var userID = 0;
      {% if request.user.is_authenticated %}
         userID = {{request.user.id}}
      {%endif%}
      var get_bid= $('#bid').val();
      var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      $.ajax({
        url: '/makebid',
        headers: {'X-CSRFToken': csrftoken,
        'credentials': 'include',
      },
        type: 'POST',
        data: {item_id: {{item.id}}, bid:get_bid, user_id: userID}
      })
      .done(function(data) {
        toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": true,
          "progressBar": true,
          "positionClass": "toast-bottom-full-width",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
        toastr["success"](data, "Bid Placed")
        $("#currentBid").text("Current Bid: " + get_bid +".0")
      })
      .fail(function() {
        toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": true,
          "progressBar": true,
          "positionClass": "toast-bottom-full-width",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
        toastr["error"]("Please Login to Place your Bid", "Login Required")
      })
      .always(function() {
        console.log("complete");
      });

    });
  });
</script>
<script>
  $(document).ready(function() {
    $(".buyNow").click(function(event) {
      var userID = 0;
      {% if request.user.is_authenticated %}
         userID = {{request.user.id}}
         toastr.options = {
           "closeButton": false,
           "debug": false,
           "newestOnTop": true,
           "progressBar": true,
           "positionClass": "toast-bottom-full-width",
           "preventDuplicates": true,
           "onclick": null,
           "showDuration": "300",
           "hideDuration": "1000",
           "timeOut": "5000",
           "extendedTimeOut": "1000",
           "showEasing": "swing",
           "hideEasing": "linear",
           "showMethod": "fadeIn",
           "hideMethod": "fadeOut"
         }
         toastr["success"]("Please wait while we are sending you an email for further Instructions", "Processing")
      {%endif%}
      var itemID = $(this).attr('id');
      var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      var ask = confirm("Do you want to Buy This Product?");
      if (ask) {
        $.ajax({
          url: '/buyNow',
          type: 'POST',
          headers: {'X-CSRFToken': csrftoken,
          'credentials': 'include',
        },
        data: {item_id:itemID , user_id:userID}
      })
      .done(function(data) {
        toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": true,
          "progressBar": true,
          "positionClass": "toast-bottom-full-width",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
        toastr["success"](data, "Item Bought")
      })
      .fail(function(data) {
        toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": true,
          "progressBar": true,
          "positionClass": "toast-bottom-full-width",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
        toastr["error"]("Please Login to Buy This Product", "Login Required")
      });
      }
      else {
        event.preventDefault();
      }
    });
  });
</script>
{% endblock %}
